*.raw
*.bak
*-bak
*.bck
*.dcm
*.cmp
*.log
*.toc
*.aux
*.out
*.zip
*.xml
*.net
*.csv
fp-info-cache
*-PcbDoc-rescue.dcm
*-PcbDoc-rescue.lib
*-cache.lib
*.kicad_prl
.ipynb_checkpoints
__pycache__/
grb/
production/
fabrication-toolkit-options.json
